<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAwJH3ph9MuuoihyKLMzqQetKFeZ0EVcK8</string>
	<key>GCM_SENDER_ID</key>
	<string>51909586532</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.craftyBay</string>
	<key>PROJECT_ID</key>
	<string>sojib-portfolio</string>
	<key>STORAGE_BUCKET</key>
	<string>sojib-portfolio.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:51909586532:ios:99c8717b993d856d013971</string>
</dict>
</plist>